.left{float:left!important}.right{float:right!important}
.left-align{text-align:left!important}.right-align{text-align:right!important}
.white,.hover-white:hover{color:#000!important;background-color:#fff!important}
.black,.hover-black:hover{color:#fff!important;background-color:#000!important}
.green,.hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.text-green,.hover-text-green:hover{color:#4CAF50!important}
.topbar,.bottombar{position:fixed;width:100%;z-index:1}.topbar{top:0}.bottombar{bottom:0}
/*.navbar {background-color:#ccc;color:#000}*/
/*.topbar a{padding:0 8px;border-bottom:3px solid transparent;-webkit-transition:border-bottom .3s;transition:border-bottom .3s}
.topbar a:hover{border-bottom:3px solid #fff}.topbar .dropdown-hover a{border-bottom:0}
.opennav,.closenav{color:inherit}.opennav:hover,.closenav:hover{cursor:pointer;opacity:0.8}*/
/*@media screen and (max-width:600px){.topbar a{display:block}.navbar li:not(.opennav){float:none;width:100%!important}.navbar li.right{float:none!important}} 
@media screen and (max-width:600px){.topbar .dropdown-hover .dropdown-content,.navbar .dropdown-click .dropdown-content,.navbar .dropdown-hover .dropdown-content{position:relative}}    
@media screen and (max-width:600px){.topbar,.navbar{text-align:center}}*/

/*----------------------------------------------------------*/
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.navbar,h1,button {font-family: "Montserrat", sans-serif}
.fa-envira,.fa-coffee {font-size:200px}
/*header { background-image: url("pts.jpg"); }*/