{% extends "head.html" %}
{% block content %}
<div id="loginwrap">
    <div id="id01" class="w3-modal">
        <div class="w3-modal-content">
            <header class="w3-container w3-green">
                <span onclick="document.getElementById('id01').style.display='none'"
                class="w3-closebtn">&times;</span>
            <h2>Вопрос</h2>
        </header>

        <div class="w3-container">
         <form method="post" id="accept_buy">
             <label class="w3-label w3-text-green">Title:</label>

             <input class="w3-input" type="text" name="title">
              <label class="w3-label w3-text-green">Question:</label>
                <textarea class="w3-input" rows="4" placeholder="Write your question" name="question"></textarea>
             {% if session['logged_in'] %}
                <input class="w3-btn  w3-green w3-margin" type="submit"  value="Задать вопрос">
             {% else %}
                Please <a href="{{ url_for('login_page') }}">log in</a> to ask
             {% endif %}
             </form>
        </div>
        </div>
    </div>
    <button onclick="document.getElementById('id01').style.display='block'" class="w3-btn">Ask</button>
    <a class="w3-btn w3-orange" href="solved">Solved</a>
    <a class="w3-btn w3-red" href="unsolved">Issues</a>
    <a class="w3-btn w3-yellow" href="news">News</a>
    {% for post in posts|sort(attribute='mongo_id',reverse=True) %}

        <h3><a href="post/{{ post.mongo_id }}">{{ post.title }}</a></h3>

        <article> {{ post.text }} </article>

    {% endfor %}
    </div>
{% endblock %}