{% extends "head.html" %}
{% block content %}
<header class="w3-container green w3-center w3-padding-128">
        <h1 class="w3-margin w3-jumbo">History</h1>
        </header>
  <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-third w3-center">
                <i class="fa fa-history w3-padding-64 text-green w3-margin-right"></i>
            </div>

            <div class="w3-twothird">
                <h1>Cattle</h1>
                <h5 class="w3-padding-32">3Prihod Feodorovsky cathedral ceased to exist, and the church was closed by decision of the Presidium of the Lenoblispolkoma</h5>

                <p class="w3-text-grey">
                   "According to the conclusion of the technical commission, the church building requires major repairs, which produces twenty thereby violates paragraph 4 th model contract. Also given the extreme neediness Soyuzmoloko room for processing dairy products and opportunity at a very low cost to accommodate Romanovskaya church for this purpose, which, by its location is convenient for Soyuzmoloko, whereby the decision Volodarsky District Council to approve the church to eliminate building pass Soyuzmoloko " .
                </p>
            </div>
        </div>
    </div>
  <div id="par" class="w3-row-padding w3-padding-64 w3-container">
      <div class="w3-content">
          <div class="w3-twothird">
              <h1>An application</h1>
              <h5 class="w3-padding-32">In the note was accepted a memo adopted by the presidium Lenoblispolkoma, which stated that "according to the conclusion of the district architect, the church building for a number of years is not repaired and is gradually destroyed. Twenty explains the failure to repair the small attendance of worshipers and lack of appropriate means</h5>

              <p class="w3-text-grey">
                  These decrees of the Soviet power and determined the fate of the building Feodorovsky cathedral for many more than seventy years. Over the past decade it has been reconstructed on the basis of the needs of the plant, - its external and internal appearance has changed almost beyond recognition. It happened gradually
              </p>
          </div>

          <div class="w3-third w3-center">
              <i class="fa fa-envira w3-padding-64 text-green"></i>
          </div>
      </div>
  </div>
{% endblock %}