{% extends "head.html" %}
{% block content %}

<div id="loginwrap">
    <div class="w3-panel w3-green ">
        <h3>{{ post.title }}</h3>
    </div>
    <p>{{post.text}}</p>
    <div class="w3-border-left">
        <p>Comments:</p>

         {% if session['logged_in'] %}
    <form method="post">
              <label class="w3-label w3-text-green">Your comment:</label>
                <textarea class="w3-input w3-border" rows="4" placeholder="Your comment" name="comment"></textarea>
             <input class="w3-btn  w3-green w3-margin" type="submit"  value="Submit"/>
    </form>
    {% else %}
    Please <a href="{{ url_for('login_page') }}">log in</a> to comment
    {% endif %}
    {% for comment in comments %}
    <p><b>{{comment.author}}:</b> {{comment.text}}</p>
    {% endfor %}

    </div>
</div>
{% endblock %}