{% extends "head.html" %}
{% block content %}
<div id="loginwrap">
    <div class="w3-panel w3-green ">
        <h2>{{ user_data[0] }}</h2>
    </div>
    <div class="w3-panel">
    e-mail: {{ user_data[1] }}<br>

    Name: {{ user_data[2] }}<br>
    </div>
    {% if user_bills==[] %}
    You have no shipping queries
    {% else %}

    <table>
        <tr>
            <th>Product</th>
            <th>Amount</th>
            <th>Shipping address</th>
            <th>Shipping date</th>
        </tr>
        {% for item in user_bills %}
        <tr>
            <td>{{ item[2] }}</td>
            <td>{{ item[0] }}</td>
            <td>{{ item[1] }}</td>
            <td>{{ item[3] }}</td>
        </tr>
        {% endfor %}
    </table>

    {% endif %}s
    <br>
    {% if posts==[] %}
    Your post history is empty
    {% else %}

    <table>
        <tr>
            <th>Post</th>

        </tr>
        {% for post in posts %}
        <tr>
            <td><a href="/board/post/{{post.mongo_id}}">{{ post.title }}</a></td>
        </tr>
        {% endfor %}
    </table>

    {% endif %}
    <br>
    {% if comments==[] %}
    Your comment history is empty
    {% else %}

    <table>
        <tr>
            <th>Comment</th>
            <th>on post</th>

        </tr>
        {% for comment in comments %}
        <tr>
            <td>{{ comment.text }}</td>
            <td><a href="/board/post/{{comment.post.mongo_id}}">{{ comment.post.title }}</a></td>
        </tr>
        {% endfor %}
    </table>

    {% endif %}
    </div>
{% endblock %}